
.navbar {
    display: flex;
    background: #101010;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar ul li:hover {
    background: #363434d3;
}